@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* For mobile phones: */
    .page {
        position: relative;
        bottom: auto;
        align-content: center;
        width: 100%;
        left: 25%;
        height: 50%;
        color: whitesmoke;
    }
    .button {
        position: relative;
        white-space: normal;
        width: 100%;
        display: table-cell;
        margin-bottom: 10px;
        color: black;
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
        font-weight: 900;
        font-family: "Quantico", sans-serif;
        font-size: 10px;
        word-wrap: break-word;
    }
    .headers1 {
        text-align: center;
        font-family: 'Prime', serif;
        font-size: 15px;
    }
    .headers2 {
        position: relative;
        text-align: justify;
        font-family: 'Prime', serif;
        font-size: 10px;
        width: 100%;
        word-wrap: break-word;
        width: 75%;
        left: 14.5%;
    }
    .headers3 {
        position: relative;
        text-align: center;
        font-family: 'Prime', serif;
        font-size: 10px;
        width: 100%;
        word-wrap: break-word;
        width: 75%;
        left: 12.5%;
    }
    .changeButton {
        position: relative;
        width: 100%;
        left: 80%;
        color: black;
        font-size: 1px;
        font-family: 'Prime', serif;
        bottom: 4.75vh;
        background-color: white;
        -webkit-appearance: none;
    }
    #custom-bootstrap-menu.navbar-default .navbar-brand {
        color: rgba(0, 0, 0, 1);
    }
    #custom-bootstrap-menu.navbar-default {
        font-size: 16px;
        background-color: rgba(255, 255, 255, 1);
        border-width: 1px;
        border-radius: 50px;
    }
    #custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
        color: rgba(0, 0, 0, 1);
        background-color: rgba(255, 255, 255, 1);
    }
    #custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
    #custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
        color: rgba(255, 255, 255, 1);
        background-color: rgba(0, 0, 0, 1);
        border-width: 1px;
        border-radius: 50px;
    }
    #custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
    #custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
    #custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
        color: rgba(255, 255, 255, 1);
        background-color: rgba(231, 231, 231, 1);
        border-width: 1px;
        border-radius: 50px;
    }
    #custom-bootstrap-menu.navbar-default .navbar-toggle {
        border-color: #ddd;
    }
    #custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
    #custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
        background-color: #ddd;
    }
    #custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
        background-color: #888;
    }
    #custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
    #custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
        background-color: #ffffff;
    }
}

body {
    background-image: url(http://orig06.deviantart.net/1339/f/2014/122/6/e/blueprint_bg_by_hexdef101-d7gsroi.png);
    background-repeat: repeat;
    background-size: stretch;
}

.page {
    position: relative;
    bottom: auto;
    align-content: center;
    width: 50%;
    left: 25%;
    height: 50%;
    color: whitesmoke;
}

.pageAbout {
    position: relative;
    bottom: auto;
    align-content: center;
    width: 50%;
    left: 36%;
    height: 50%;
    color: whitesmoke;
}

.layout {
    text-align: center;
    overflow: scroll;
    position: relative;
    left: 50%;
    width: auto;
    max-height: 75%;
}

.layout:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.50em;
    /* Adjusts for spacing */
}

.Center {
    vertical-align: left;
    width: 80%;
    display: table;
    position: relative;
}

.button {
    position: relative;
    white-space: normal;
    width: 125%;
    display: table-cell;
    margin-bottom: 10px;
    color: black;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-weight: 900;
    font-family: "Quantico", sans-serif;
    font-size: 13px;
    word-wrap: break-word;
}

.filling {
    display: inline-block;
    position: relative;
    text-align: justify;
    white-space: normal;
    font-family: 'Prime', serif;
    font-size: 1.5vw;
    width: 100%;
    word-wrap: break-word;
}

.headerAbout {
    position: relative;
    text-align: center;
    font-family: 'Prime', serif;
    font-size: 2vw;
    word-wrap: break-word;
    width: 100%;
}

#subSelect {
    align-content: center;
    position: relative;
    margin-bottom: 10px;
    height: 3vh;
    width: 75%;
    color: black;
    border: 3px #CCCCCC;
}

.changeButton {
    position: relative;
    width: 53%;
    left: 80%;
    bottom: 30%;
    color: black;
    font-size: 13px;
    font-family: 'Prime', serif;
    bottom: 4.68vh;
}

.headers1 {
    text-align: center;
    font-family: 'Prime', serif;
    font-size: 25px;
}

.headers2 {
    position: relative;
    text-align: center;
    font-family: 'Prime', serif;
    font-size: 15px;
    width: 75%;
    word-wrap: break-word;
    left: 14.5%;
}

.headers3 {
    position: relative;
    text-align: center;
    font-family: 'Prime', serif;
    font-size: 15px;
    width: 100%;
    word-wrap: break-word;
    width: 75%;
    left: 14.5%;
}

.well {
    position: relative;
    background-image: url(http://pre04.deviantart.net/3a51/th/pre/i/2015/198/a/1/phb_background_texture_by_kluckham-d91rf3o.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.LayoutAbout {
    position: relative;
    right: 25%;
}

.LayoutSMS {
    position: relative;
    left: 50%;
    font-family: 'Prime', serif;
    font-size: 20px;
    width: 100%;
    word-wrap: break-word;
    width: 75%;
    left: 12.5%;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(0, 0, 0, 1);
}

#custom-bootstrap-menu.navbar-default {
    font-size: 16px;
    background-color: rgba(255, 255, 255, 1);
    border-width: 1px;
    border-radius: 50px;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-radius: 50px;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(231, 231, 231, 1);
    border-width: 1px;
    border-radius: 50px;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}

.notifSubmit {
    color: black;
}

@font-face {
    font-family: "Prime";
    src: url(PrimeRegular.otf);
}

@font-face {
    font-family: "Quantico";
    src: url(Quantico-Regular.ttf);
}
