body {
    background-image: url(https://www.pixeden.com/media/k2/galleries/220/006-wood-melamine-subttle-pattern-background-pat.jpg);
    background-repeat: repeat;
    background-size: cover;
}

.page {
    position: absolute;
    bottom: auto;
    left: 400px;
    align-content: center;
    resize: both;
    color: whitesmoke;
}

.layout {
    text-align: center;
    overflow: scroll;
    position: relative;
    left: 375px;
    max-height: 400px;
}

.layout:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.50em;
    /* Adjusts for spacing */
}

.Center {
    vertical-align: left;
    width: 100px;
    display: table;
    position: relative;
}

.button {
    position: relative;
    white-space: normal;
    width: 500px;
    display: table-cell;
    margin-bottom: 10px;
    color: black;
}

.filling {
    display: inline-block;
    position: relative;
    font-size: 18px;
    text-align: justify;
    white-space: normal;
}

.header {
    text-align: center;
}

#subSelect {
    align-content: center;
    position: relative;
    margin-bottom: 10px;
    height: 25px;
    left: relative;
    width: 400px;
    color: black;
}

.changeButton {
    position: absolute;
    width: fit;
    left: 410px;
    bottom: 0px;
    color: black;
}

.headers {
    text-align: center;
}

.footer {
    position: relative;
    left: 175px;
}

.well {
    position: relative;
    background-image: url(https://cdn1.iconfinder.com/data/icons/somacro___dpi_social_media_icons_by_vervex-dfjq/500/reddit.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 540px;
    height: auto;
}

.LayoutAbout {
    position: relative;
    right: 180px;
}

.LayoutSMS {
    position: relative;
    left: 60px;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(0, 0, 0, 1);
}

#custom-bootstrap-menu.navbar-default {
    font-size: 16px;
    background-color: rgba(255, 255, 255, 1);
    border-width: 1px;
    border-radius: 50px;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-radius: 50px;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(231, 231, 231, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}

.notifSubmit {
    color: black;
}
